body {
    height: 100vh;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
}

.main {
    display: grid;
    grid-template-columns: 150px repeat(2, 1fr); /* Establecemos medida de la plantilla */
    grid-template-areas: /* Declaramos la plantilla */
        "header header header" /* header ocupa 3 columnas*/
        "aside article article" /* aside ocupa 1 columna y article 2 */
        "footer footer -" /* footer ocupa 2 columnas y la 3era esta vacia */
}

.header,
.footer {
    padding: 2rem 0;
    text-align: center;
    background: peru;
}

.header {
    grid-area: header; /* Establecemos el valor que tendra en la plantilla */
}

.aside {
    background: hotpink;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    grid-area: aside; /* Establecemos el valor que tendra en la plantilla */

}

.article {
    background: royalblue;
    padding: 1rem;
    grid-area: article; /* Establecemos el valor que tendra en la plantilla */

}

.footer {
    grid-area: footer; /* Establecemos el valor que tendra en la plantilla */
}