/* 
banner con unidades de viewport
footer siempre abajo
responsive con flexbox
responsive con grid
*/
body {
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    min-height:100vh; /* Para que ocupe el 100% del viewport */
    display: flex; /* Para q pueda bajar el footer */
    flex-direction: column; /* Para q pueda bajar el footer */
}

/* .flexbox{
    display: flex;
    flex-wrap: wrap;
}
.flexbox__item{
    margin: 2rem;
    min-width: 320px;
    flex:1 1 320px; 1 1 se encoge y se agranda lo más q puede y 320px xq se adaptara al movil más pequeño q existe
} */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2rem; /* Para q en 2 columnas no lleguen a pegarse */
    padding: 1rem;
}

.banner{
    background-color: royalblue;
    padding: 15vmin; /* vmin para q en movil no sea demasiado grande */
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer{
    background-color: red;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: auto; /* Para q pueda bajar el footer */
}